@import "@styles/spacing.scss";
@import "@styles/typography.scss";
@import "@styles/theme.scss";

.descComponentContainer{
  display: flex;
  justify-content: space-between;
  width: 48%;
  align-items: start;
  padding: 0.2rem;
  background-color: var(--neutral-700);

  .title{
    display: flex;
    flex-wrap: wrap;
    color: var(--neutral-200);
    max-width: 6rem;
    font-size: 0.7rem;
    font-weight: 500;
    min-width: 3rem;
  }

  .desc{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--neutral-200);
    font-size: .7rem;
    max-width: 5rem;
    font-weight: 500;
    padding: 0 .4rem;
    background-color: var(--neutral-600);
    height: 100%;
  }
}

@media screen and (max-width: 1100px){
  .descComponentContainer{
    padding: 0.1rem;

    .title{

      max-width: 5.5rem;
      font-size: 0.6rem;
      font-weight: 500;
      min-width: 2.5rem;
    }
  
    .desc{
      font-size: .6rem;
      max-width: 4rem;
      padding: 0 .3rem;
    }
  }
}

@media screen and (max-width: 800px){
  .descComponentContainer{
    width: 100%;

    .title{
      font-size: 0.9rem;
      font-weight: 500;
      max-width: 10rem;
    }
  
    .desc{
      font-size: .9rem;
      max-width: 10rem;
    }
  }
}

