@import "../../styles/typography.scss";
@import "../../styles/theme.scss";

.topnav {
  background-color: var(--neutral-800);
  display: flex;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 40;
  height: 4rem;

  a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

    &.active {
      background-color: #04aa6d;
      color: white;
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .leftHeader {
      display: flex;
      z-index: 30;
    }

    .rightHeader {
      display: flex;
      margin-right: 1rem;

      .menuButton {
        width: 2rem;
        display: none;
        transition: all .3s ease-in-out;

        .bar {
          width: 100%;
          border: solid 2px var(--neutral-300);
          margin: .5rem 0;
          border-radius: 10rem;
        }

      }

      .navContainer {
        display: flex;

        .nav {
          display: flex;

          a {
            &:hover {
              background-color: var(--neutral-700);

            }
          }
        }
      }
    }
  }


  .icon {
    display: none;
  }

  .dropdown {
    display: flex;
    position: relative;

    .dropbtn {
      font-size: 17px;
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;


      &:hover,
      &+.dropdownContent:hover {
        background-color: var(--neutral-700);
      }
    }

    .dropdownContent {
      display: none;
      flex-direction: column;
      position: absolute;

      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      top: 100%;
      left: 0;
      background-color: var(--neutral-700);

      a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;

        &:hover {
          background-color: #ddd;
          color: black;

          .dropbtn {
            background-color: var(--neutral-700);
          }
        }
      }
    }

    &:hover .dropdownContent {
      display: flex;
      background-color: var(--neutral-700);
    }
  }

  .dropbtn:hover+.dropdownContent {
    display: flex;
    background-color: var(--neutral-700);

  }
}

@media screen and (max-width: 768px) {
  .topnav {


    .header {



      .rightHeader {
        position: relative;

        .menuButton {
          display: block;
          z-index: 30;
        }

        .mask {
          width: 100vw;
          top: 0;
          right: 0;
          padding: 0;
          margin: 0;
          z-index: 29;
          border: solid 1px;
          position: fixed;
          height: 4rem;
          background-color: var(--neutral-800);
        }

        .navContainer {
          z-index: 1;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .nav {
          display: flex;
          translate: 0 -4rem;
          transition: all .5s ease-in-out;
          justify-content: space-evenly;
          align-items: center;
          font-size: var(--sm-4);
          position: fixed;
          top: 4rem;
          right: 0;
          width: 100vw;
          height: 4rem;
          z-index: -100;
          background-color: var(--neutral-900);
        }

        // .nav{
        //   display: none;
        // }
      }

    }
  }
}

@media screen and (max-width: 510px) {
  .topnav {


    .header {



      .rightHeader {

        .menuButton {}

        .mask {}

        .navContainer {}

        .nav {
          height: 8rem;
          translate: 0 -8rem;
          flex-wrap: wrap;
        }

        // .nav{
        //   display: none;
        // }
      }

    }
  }
}