.main-theme {
  --black: #000000;
  --white: #ffffff;
  --bg: #f5fafd;
  --main-bg: #045ca6;
  // light shades
  --main-10: #63b1ff;
  --main-20: #50a0f2;
  --main-30: #3d8fdf;
  --main-40: #2a7ecc;
  --main-50: #176db9;
  //dark shades
  --main-60: #044c96;
  --main-70: #043c76;
  --main-80: #032c56;
  --main-90: #021c36;
  --main-100: #011016;

  --neutral-50: #fafafa;
  --neutral-100: #f5f5f5;
  --neutral-200: #e5e5e5;
  --neutral-300: #d4d4d4;
  --neutral-400: #a3a3a3;
  --neutral-500: #737373;
  --neutral-600: #525252;
  --neutral-700: #404040;
  --neutral-800: #262626;
  --neutral-900: #171717;
  --neutral-950: #0a0a0a;
  --sky-50: #f0f9ff;
  --sky-100: #e0f2fe;
  --sky-200: #bae6fd;
  --sky-300: #7dd3fc;
  --sky-400: #38bdf8;
  --sky-500: #0ea5e9;
  --sky-600: #0284c7;
  --sky-700: #0369a1;
  --sky-800: #075985;
  --sky-900: #0c4a6e;
  --sky-950: #082f49;
  --success-50: #e5f9eb;
  --success-100: #ccf4d7;
  --success-200: #99e9af;
  --success-300: #66dd88;
  --success-400: #33d260;
  --success-500: #00c738;
  --success-600: #009f2d;
  --success-700: #007722;
  --success-800: #005016;
  --success-900: #00280b;
  --danger-50: #feeaea;
  --danger-100: #fdd5d5;
  --danger-200: #fbabab;
  --danger-300: #f98282;
  --danger-400: #f75858;
  --danger-500: #f52e2e;
  --danger-600: #c42525;
  --danger-700: #931c1c;
  --danger-800: #621212;
  --danger-900: #310909;
  --info-50: #e5f6ff;
  --info-100: #ccecff;
  --info-200: #99d9ff;
  --info-300: #66c7ff;
  --info-400: #33b4ff;
  --info-500: #00a1ff;
  --info-600: #0081cc;
  --info-700: #006199;
  --info-800: #004066;
  --info-900: #002033;
  --violet-50: #fbeefb;
  --violet-100: #f7def8;
  --violet-200: #f0bdf1;
  --violet-300: #e89bea;
  --violet-400: #e17ae3;
  --violet-500: #d959dc;
  --violet-600: #ae47b0;
  --violet-700: #823584;
  --violet-800: #572458;
  --violet-900: #2b122c;
}
