.main-theme {
  --black: #000000;
  --white: #ffffff;
  --bg: #f5fafd;
  --main-bg: #045ca6;
  // light shades
  --main-10: #63b1ff;
  --main-20: #50a0f2;
  --main-30: #3d8fdf;
  --main-40: #2a7ecc;
  --main-50: #176db9;
  //dark shades
  --main-60: #044c96;
  --main-70: #043c76;
  --main-80: #032c56;
  --main-90: #021c36;
  --main-100: #011016;
}
