$sm-4: 10px;
$md-1: 12px;
$md-2: 14px;
$md-3: 16px;
$md-4: 18px;
$lg-1: 20px;
$lg-2: 22px;
$lg-3: 24px;
$lg-4: 28px;
$xl-1: 32px;
$xl-2: 36px;
$xl-3: 40px;
$xl-4: 44px;

$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

$letter-spacing-s: 0px;
$letter-spacing-l: -0.04;

$line-height-s: 125%;
$line-height-m: 150%;
$line-height-l: 175%;
$line-height-xl: 200%;
