@import "../../styles/typography.scss";
@import "../../styles/theme.scss";

.footerContainer {
  padding: 28px;
  background-color: var(--neutral-900);
  color: var(--neutral-50);

  a,
  span,
  p {
    color: var(--neutral-50);
  }

  .titleText {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .labelText {
    display: block;
    color: var(--neutral-400);
    margin-bottom: 5px;
    text-decoration: none;
    margin-bottom: 0.5rem;

    &:hover {
      text-decoration: underline;
    }
  }
}

.bottomContainer {
  display: flex;
  justify-content: space-between;

  p {
    color: var(--neutral-400);
  }
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  .sectionContainer {
    width: 10rem;
  }

  .leftContainer {
    display: flex;
  }

  .rightContainer {
    display: flex;
    flex-direction: column;

    .logo {
      border: solid;
      width: 100%;
      height: 2.5rem;
    }
  }
}

.line {
  border: 1px solid #ccc;
  margin: 20px 0;
}

.bottomContainer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #777;
}

@media screen and (max-width: 768px) {
  .footerContainer {
    .bottomContainer {
      flex-direction: column;
    }

    .flexContainer {
      flex-direction: column;

      .sectionContainer {
        margin-bottom: 1rem;
      }

      .leftContainer {
        flex-direction: column;
      }

      .rightContainer {
        .logo {
          height: 100%;
          width: 10rem;
        }
      }
    }
  }
}
