.overlay {
  position: relative;
  margin-bottom: 38px;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: auto;
}

.bannerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  text-align: center;

  h1 {
    color: black;
    font-weight: 700;
    font-size: 100px;
  }

  span {
    color: black;
    font-weight: 700;
  }
}
