@import "@styles/typography.scss";
@import "@styles/spacing.scss";
@import "@styles/layout.module.scss";
@import "@styles/breakpoint.scss";

.infoCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 20px;
  text-align: center;
  gap: $space-10;
}

.brandName {
  margin-bottom: $space-2;
  composes: lg3 from global;
  font-weight: $medium;
  letter-spacing: 0;
}
