@import "@styles/breakpoint.scss";
@import "@styles/spacing.scss";

.productContainer {
  composes: constrain from global;
}

.ourProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $space-12;
}

.productCardContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .productCardContainer {
    flex-direction: column;
    align-items: center;
  }
}
