@import "@styles/spacing.scss";
@import "@styles/typography.scss";
@import "@styles/theme.scss";

.galleryCardContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  //Max width for the contaier still confused
  max-width: 400px;

  .galleryCardPicture {
    display: flex;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  }

  .imageContainer {
    position: relative;
    width: 100%;
    padding-top: 66.666%;
    overflow: hidden;
  }

  h2 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 26px;
    color: var(--neutral-700);
    margin-top: 1.2rem;
  }
}

@media screen and (max-width: 1100px) {
  .galleryCardContainer {
    .galleryCardPicture {
      .image {
        height: 25vw;
      }
    }

    h2 {
      text-align: center;
      width: 90%;
      font-size: 1rem;
      font-weight: 600;
      color: var(--neutral-700);
      margin-top: 1rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .galleryCardContainer {
    h2 {
      font-size: 1rem;
    }
  }
}
