@import "./styles/layout.module.scss";
@import "./styles/theme.scss";
@import "./styles/spacing.scss";
@import "./styles/typography.scss";

.homeIntoductionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40vh;
  text-align: center;
  background-color: var(--bg);
  margin-bottom: $space-12;
}

.welcome {
  color: var(--main-bg);
  composes: xl4 from global;
  font-weight: $bold;
}

.homeIntroduction {
  composes: lg1 from global;
  font-weight: $regular;
  padding-right: $space-8;
  padding-left: $space-8;
}

.ourProduct {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--bg);
  margin-bottom: $space-12;
  padding: $space-6;
}

.brandKami {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 24px;
}

.infoCardContainer {
  display: flex;
  justify-content: center;
  gap: $space-10;
}

.productSliderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .infoCardContainer {
    flex-direction: column;
    align-items: center;
  }
  .descriptionContainer {
    padding: 8px;
    h1 {
      font-size: 42px;
    }
    p {
      font-size: 18px;
    }
  }
}
