@import "../styles/theme.scss";
@import "../styles/typography.scss";
@import "@styles/spacing.scss";
@import "@styles/breakpoint.scss";

.profilePoster {
  position: relative;
  width: 100%;
  height: 200px;
}

@include media(tablet) {
  .profilePoster {
    height: 600px;
  }
}

.aboutUsContainer {
  composes: constrain from global;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $space-4;
  margin-bottom: $space-12;
  flex-direction: column;
}

@include media(tablet) {
  .aboutUsContainer {
    flex-direction: row;
  }
}

.aboutUsDescription {
  composes: md4 from global;
  color: var(--neutral-400);
  padding-right: $space-4;
  font-weight: $regular;
  letter-spacing: $letter-spacing-l * $md-2;
  line-height: $line-height-m;
}

.goalContainer {
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: $space-12;
  height: 500px;
}

.goalContent {
  composes: constrain from global;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: $space-6;
}

.goal {
  color: var(--main-bg);
  composes: xl2 from global;
  font-weight: $semi-bold;
}

.mission,
.vision {
  color: var(--neutral-400);
  font-weight: $regular;
  composes: md4 from global;
  letter-spacing: $letter-spacing-l * $md-2;
  line-height: $line-height-m;
}

.joinUs {
  color: var(--secondary-bg);
  text-align: center;
  composes: xl1 from global;
  font-weight: $bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-bottom: $space-12;
}

.productSliderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
