@import "@styles/layout.module.scss";
@import "@styles/breakpoint.scss";
@import "@styles/spacing.scss";

.productSliderContainer {
  max-width: 300px;
  @include media(tablet) {
    max-width: 1000px;
  }
}

.productCardContainer {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $space-4;

  @include media(tablet) {
    flex-direction: row;
    width: 1000px;
  }
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.productDescription {
  max-width: 350px;
}
