@import "@styles/breakpoint.scss";
@import "@styles/spacing.scss";
@import "@styles/typography.scss";

.galleryContainer {
  composes: constrain from global;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
