.sliderContainer {
  position: relative;
}

.sliderList {
  display: flex;
  overflow-x: scroll;
  overflow-y: visible;
  cursor: grab;

  img {
    pointer-events: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.sliderItem {
  width: fit-content;
}

.arrowButton {
  position: absolute;
  top: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(35, 35, 35, 0.5);
  border-radius: 50%;
  border: 1px solid var(--main-300);

  // hide on touch screen devices
  @media (pointer: coarse) {
    display: none;
  }
}

.prevButton {
  composes: arrowButton;
  left: 0;
  transform: translate(-50%, -50%);
}

.nextButton {
  composes: arrowButton;
  right: 0;
  transform: translate(50%, -50%);
}
