@import "@styles/breakpoint.scss";
@import "@styles/spacing.scss";
@import "@styles/typography.scss";

.productContainer {
  composes: constrain from global;
}

.principleTitle {
  text-align: center;
  font-size: $xl-2;
  font-weight: $semi-bold;
  margin-bottom: $space-7;
}

.indirectSystemContainer {
  composes: constrain from global;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: $space-12;
  flex-direction: column;
  gap: $space-10;

  @include media(tablet) {
    flex-direction: row;
  }
}

.indirectSystem {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: $space-10;

  @include media(tablet) {
  }
}

.indirectSystemDescription {
  flex: 1;
  font-size: $md-3;
  font-weight: $medium;

  @include media(tablet) {
  }
}

.ourProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $space-12;
}

.productCardContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .productCardContainer {
    flex-direction: column;
    align-items: center;
  }
}
