@import "@styles/spacing.scss";
@import "@styles/typography.scss";
@import "@styles/theme.scss";

.galleryContainer {
  display: grid;
  align-items: center;
  justify-content: space-around;
  grid-template-columns: 30% 30% 30%;
  gap: 2rem;
  margin: 0;
  padding: 4rem 12rem;
}

@media screen and (max-width: 768px) {
  .galleryContainer {
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    row-gap: 1rem;
  }
}
@media screen and (max-width: 375px) {
  .galleryContainer {
    grid-template-columns: 1fr;
    padding: 2rem;
    row-gap: 1rem;
  }
}
