@import "@styles/spacing.scss";
@import "@styles/typography.scss";
@import "@styles/theme.scss";


.galleryContainer{
  display: grid;
  width: 100%;
  min-height: 100vh;
  justify-content: space-between;
  grid-template-columns: 30% 30% 30%;
  row-gap: 4rem;
  padding: 4rem;
}

@media screen and (max-width:768px) {
  .galleryContainer{
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    row-gap: 1rem;
  }
}
