@import "@styles/breakpoint.scss";
@import "@styles/spacing.scss";
@import "@styles/typography.scss";

.productContainer {
  composes: constrain from global;
}

.principleTitle {
  text-align: center;
  font-size: $xl-2;
  font-weight: $semi-bold;
  margin-bottom: $space-7;
}

.principleContainer {
  composes: constrain from global;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: $space-12;
  flex-direction: column;

  @include media(tablet) {
    flex-direction: row;
  }
}

.principle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.principleDescription {
  font-size: $lg-2;
  font-weight: $medium;

  li {
    list-style-type: disc;
  }

  @include media(tablet) {
    list-style-type: none;
  }
}

.ourProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $space-12;
}

.productCardContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .productCardContainer {
    flex-direction: column;
    align-items: center;
  }
}
