@import "@styles/breakpoint.scss";
@import "@styles/spacing.scss";

.productContainer {
  composes: constrain from global;
}

.ourProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $space-12;
}

.productCardContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.productCard {
  background-color: red;
  min-width: 300px;
}

.productdesc {
  display: flex;
  gap: 5px;
}
